[Unit]
Description=Bluebot Discord bot
After=network.target

[Service]
WorkingDirectory=/opt/bluebot
ExecStart=bash /opt/bluebot/run.sh
User=bluebot
Group=bluebot

[Install]
WantedBy=multi-user.target